/* 
color-green : #D7E9B9;
color-yellow: #FFFBAC;
color-salmon: #FFD495;
color-orange: #FAAB78;
color-brown: #58391C;
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.6;
  color: #000;
  padding: 1rem;

  box-sizing: border-box;
}

.header {
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(250, 171, 120, 0.7),
      rgba(255, 251, 172, 0.7)
    ),
    url(../img/brighton.jpeg);
  background-position: center;
  background-size: cover;

  position: relative;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-1 {
  font-size: 7rem;
  letter-spacing: 4.7rem;
  margin-right: -4.7rem;
  text-shadow: 0.3rem -0.3rem #fff;
  animation: moveInRight 1s ease-out;
}

.heading-3 {
  font-size: 3.3rem;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  text-shadow: 0.3rem -0.3rem #fff;
  animation: moveInLeft 1s ease-out;
  margin-bottom: 5rem;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translatex(-10rem);
  }

  60% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(10rem);
  }

  60% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 10rem;
  box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1.5rem 0.5rem rgba(0, 0, 0, 0.4);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.4);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #fff;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
