@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translatex(-10rem);
  }
  60% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(10rem);
  }
  60% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
:root {
  --color-primary-light-1: #f6edd9;
  --color-primary-light-2: #a8ad9c;
  --color-primary: #586d35;
  --color-primary-dark-1: #444939;
  --color-primary-dark-2: #091a00;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.6;
  color: var(--color-primary-light-1);
  background-color: var(--color-primary-dark-2);
  box-sizing: border-box;
}

.btn:link, .btn:visited {
  text-decoration: none;
  background-color: var(--color-primary-light-1);
  color: var(--color-primary-dark-2);
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 10rem;
  box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1.5rem 0.5rem rgba(0, 0, 0, 0.4);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.4);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--color-primary-light-1);
  transition: all 0.4s;
}

.heading-1 {
  color: var(--color-primary-dark-2);
  font-size: 7rem;
  letter-spacing: 4.7rem;
  margin-right: -4.7rem;
  text-shadow: 0.3rem -0.3rem var(--color-primary-light-1);
  animation: moveInRight 1s ease-out;
}

.heading-3 {
  color: var(--color-primary-dark-2);
  font-size: 3.3rem;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  text-shadow: 0.3rem -0.3rem var(--color-primary-light-1);
  animation: moveInLeft 1s ease-out;
  margin-bottom: 5rem;
}

.nav-sticky {
  position: sticky;
  top: 0;
  z-index: 300;
}

.nav-list {
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  background-image: linear-gradient(to right bottom, var(--color-primary-dark-1), var(--color-primary-dark-2));
}
.nav-list > li > a:link,
.nav-list a:visited {
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 6rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-primary-light-1);
  letter-spacing: 0.5rem;
}
.nav-list > li > a:hover {
  color: var(--color-primary-light-2);
  transform: translateY(-0.3rem);
}
.nav-list > li > a:active {
  color: var(--color-primary-light-2);
  transform: translateY(0.2rem);
}

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(250, 171, 120, 0.7), rgba(255, 251, 172, 0.7)), url(../img/brighton.jpeg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.header__text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.introduction {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.introduction-text {
  flex: 0 1 40%;
  font-size: 2.5rem;
  margin-right: 4rem;
}
.introduction-picture {
  width: 30rem;
  border-radius: 50%;
  border: 0.7rem solid var(--color-primary-light-2);
}

/*# sourceMappingURL=style.css.map */
