:root {
  // --color-green: #d7e9b9;
  // --color-yellow: #fffbac;
  // --color-salmon: #ffd495;
  // --color-orange: #faab78;
  // --color-brown: #58391c;

  // --color-black: #000;
  // --color-white: #fff;

  --color-primary-light-1: #f6edd9;
  --color-primary-light-2: #a8ad9c;
  --color-primary: #586d35;
  --color-primary-dark-1: #444939;
  --color-primary-dark-2: #091a00; // background

  --color-highlight: #99ff00;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-highlight);
  color: var(--color-primary-dark-2);
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.6;
  color: var(--color-primary-light-1);
  // padding: 1rem;
  background-color: var(--color-primary-dark-2);
  box-sizing: border-box;
}
