.nav-sticky {
  position: sticky;
  top: 0;
  z-index: 300;
}

.nav-list {
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style-type: none;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-dark-1),
    var(--color-primary-dark-2)
  );

  & > li > a:link,
  a:visited {
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 6rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-primary-light-1);
    letter-spacing: 0.5rem;
  }

  & > li > a:hover {
    color: var(--color-primary-light-2);
    transform: translateY(-0.3rem);
  }

  & > li > a:active {
    color: var(--color-primary-light-2);
    transform: translateY(0.2rem);
  }
}

.header {
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(250, 171, 120, 0.7),
      rgba(255, 251, 172, 0.7)
    ),
    url(../img/brighton.jpeg);
  background-position: center;
  background-size: cover;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  position: relative;
}

.header__text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center; // 얘가 안됨
}

.introduction {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &-text {
    flex: 0 1 40%;
    font-size: 2.5rem;
    margin-right: 4rem;
  }

  &-picture {
    width: 30rem;
    border-radius: 50%;
    border: 0.7rem solid var(--color-primary-light-2);
  }
}
