.nav-sticky {
  position: sticky;
  top: 0;
  z-index: 300;
}

.nav-list {
  // padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style-type: none;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-dark-1),
    var(--color-primary-dark-2)
  );

  height: 6rem;

  & > li > a:link,
  a:visited {
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 6rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-primary-light-1);
    letter-spacing: 0.5rem;
  }

  & > li > a:hover {
    color: var(--color-primary-light-2);
    transform: translateY(-0.3rem);
  }

  & > li > a:active {
    color: var(--color-primary-light-2);
    transform: translateY(0.2rem);
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary-light-1);
    transform: translateY(0.2rem);

    &:hover {
      fill: var(--color-primary-light-2);
    }

    &:active {
      fill: var(--color-primary-light-2);
    }
  }
}
