.skillsets {
  background-color: var(--color-primary-dark-1);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  &__icon {
    width: 10rem;
    position: relative;

    &-html5 {
      grid-area: 2 / 2;
    }

    &-css3 {
      grid-area: 3 / 4;
    }

    &-js {
      grid-area: 2 / 5;
    }

    &-react {
      grid-area: 3 / 6;
    }

    &-sass {
      grid-area: 2 / 7;
    }

    &-mysql {
      grid-area: 4 / 3;
    }

    &-git {
      grid-area: 4 / 7;
    }
  }
}
