@import "tailwindcss";

:root {
  --background: var(--color-zinc-50);
  --foreground: var(--color-zinc-950);
  --font-open-sans: "Open Sans", sans-serif;
  --font-montserrat: "Montserrat", serif;
  --primary: var(--color-stone-800);
  --muted: var(--color-neutral-600);
  --secondary: var(--color-slate-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-zinc-950);
    --foreground: var(--color-zinc-50);
    --primary: var(--color-stone-100);
    --muted: var(--color-neutral-300);
    --secondary: var(--color-slate-950);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-serif: var(--font-montserrat);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
}
