@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px; /* Half of the loader's height */
  margin-left: -24px;

  border: 10px solid;
  border-color: rgba(120, 113, 108, 0.15) rgba(120, 113, 108, 0.25)
    rgba(120, 113, 108, 0.35) rgba(120, 113, 108, 0.5);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mobile-p {
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 400;
  font-family: "Gowun Dodum", sans-serif;
}
.mobile-h6-small-regular {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.mobile-h6-small {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.mobile-h6 {
  font-size: 1.19rem;
  line-height: 1.69rem;
  font-weight: 600;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.mobile-h5-regular {
  font-size: 1.14rem;
  line-height: 1.64rem;
  font-weight: 400;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.mobile-h5 {
  font-size: 1.14rem;
  line-height: 1.64rem;
  font-weight: 700;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.mobile-h4 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.mobile-h3-bold {
  font-size: 2.06rem;
  line-height: 2.56rem;
  font-weight: 700;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.mobile-h3 {
  font-size: 2.06rem;
  line-height: 2.56rem;
  font-weight: 300;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.mobile-h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.mobile-h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
  font-family: "IBM Plex Sans KR", sans-serif;
}
